<br/>
<button type="button" class="ms-1 btn btn-primary border border-dark rounded-3" (click)="volverHome()">Home</button>
<div>
    <form>
        <br/>
        <div class="ms-1 form-group col-md-3">
            <input type="text" class="form-control" name="username" placeholder="usuario" [(ngModel)]="userObj.username">
        </div>
        <br/>
        <div class="ms-1 form-group col-md-3">
            <input type="password" class="form-control" name="password" placeholder="contraseña" [(ngModel)]="userObj.password">
        </div>
        <br/>
        <div>
            <button id="submit" type="submit" class="ms-1 btn btn-primary border border-dark rounded-3" (click)="logIn()" >Log In</button>
        </div>
    </form>   
</div>