<button type="button" class="ms-1 btn btn-primary border border-dark rounded-3" (click)="getLugaresApi()" (click)="show=!show">get-lugares</button>

<div *ngIf="show">
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Item ID</th>
      <th>Nombre</th>
      <th>Latitud</th>
      <th>Longitud</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of generateTableRows()">
      <td>{{ row._id }}</td>
      <td>{{ row.id }}</td>
      <td>{{ row.nombre }}</td>
      <td>{{ row.latitud }}</td>
      <td>{{ row.longitud }}</td>
    </tr>
  </tbody>
</table>
</div>